​
<!DOCTYPE html>
<html>
 <head>
  <!-- Website Title & Description for Search Engine purposes -->
  <title>ShowTrackr</title>
  <link rel="shortcut icon" href="fasion.ico">

  <!-- Mobile viewport optimized -->
   <!-- <meta name="description" content=""> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> -->
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="includes/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href="includes/css/styles.css" rel="stylesheet">
    <link href="includes/css/my.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="includes/css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Include Modernizr in the head, before any other Javascript -->
  <script src="includes/js/modernizr-2.6.2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="includes/js/modernizr-2.6.2.min.js"></script>

 <!-- <script src="https://apis.google.com/js/platform.js"></script> -->
 <!-- <div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div> -->




 </head>
 <body style="background-color:Silver;">





  <nav class="navbar navbar-default">
<div class="container-fluid" style="box-shadow: 0 0 5px black;">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">show<b>Trackr</b></a>
  </div>


  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
      <li><a href="add">Add</a></li>

    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>

  </div>
</div>

 <div style="margin: auto;
     width: 85%;
     padding: 10px;">
<div class="col-11">
<div class="thumbnail">
 <div class="img-thumbnail">
<table>
  <tr>
    <td>
 <img src="./images/a.png" width="200px" height="300px"><br><br>
  <a href="login.html" class="btn btn-primary">subscribe</a></button>
</td>
<td>






<table width="800px"><tr>
 <td>
  <b><h2>Game of Thorones</h2></b>
<i class="material-icons">&#xe916;</i> <b>Sunday <u> 9:00 PM</u> on HBO</b></td><td>
 <table>
  <tr>
   <td>
 <img src="./images/hard.png"></p></td><td>
 <b><font size="6">9.5</font></b></td></tr></table>
</td></tr><tr><td>
 <p> <font size="2px">Seven noble families fight for control of the mythical land of Westeros. Friction between the houses leads to full-scale war. All while a very ancient evil awakens in the farthest north. A military order of misfits, he Nights's watch, is all that. Stands between the realms of men and the icy horrors beyond.</p>
</td></tr>
<tr><td>&nbsp</td>
</tr>
</tr>
<tr><td>&nbsp</td>
</tr>
</tr>
<tr><td>&nbsp</td>
</tr>
</tr>
<tr><td>&nbsp</td>
</tr>
<tr><td>&nbsp</td>
</tr>
</tr>
<tr><td>&nbsp</td>
</tr>
</tr>
<tr><td>&nbsp</td>
</tr>
<tr><td>&nbsp</td>
</tr>
<tr><td>&nbsp</td>
</tr>
<tr><td>&nbsp</td>
</tr>
<tr><td>&nbsp</td>
</tr>
</table>
</font>
</td></tr>
</table>
</div></div>
<div class="thumbnail" style="background-color:#aed6f1"><br>
The next episode starts in 2 months.
<br><br>
</div>
<div class="thumbnail">
<i class="fa fa-briefcase" style="font-size:24px"></i> EPISODES
<hr><table>
 <tr>
  <td><font size="15px"><b> |</b></font></td>
  <td>
<b>Inside Game of Thrones </b>Season 0 Episode1<br>
<i class="fa fa-clock-o" style="font-size:24px"></i> 12/5/10 5.30AM<br>
A short look into the film-maing process for he producation Game of thrones
</td></tr>
</table>
</div>





 </body>
</html>
